.formContainerLight {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 0 auto;
  position: relative;
  padding-bottom: 80px; /* Extra space for the fixed button */
}

.formTitle {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.select {
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
}

.infoItem {
  margin-bottom: 20px;
}

.label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.fileInput {
  display: none;
}

.viewModeToggleContainer {
  margin-top: 10px;
}

.imageContainer {
  position: relative;
  margin-bottom: 10px;
}

.imagePreview {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  box-shadow: none;
  cursor: pointer;
}

.removeImage {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 40px; /* увеличенный размер */
  height: 40px; /* увеличенный размер */
  background-color: red;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.removeIcon {
  color: white;
  font-weight: bold;
  font-size: 24px; /* увеличенный размер */
}

.editButtons {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
}

.editButtons button {
  margin: 2px 0;
}

.flipView {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.flipImage {
  max-width: 100%;
  height: auto;
}

.pageCounter {
  margin-top: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
}

.navButtonContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

.navButton {
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.navButton:hover {
  background-color: #0056b3;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.addButton,
.submitButton,
.viewToggle {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  font-size: 16px;
}

.addButton {
  background-color: #28a745;
}

.submitButton {
  background-color: #007bff;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.viewToggle {
  background-color: #6c757d;
}
