.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalContent {
    background: #2c2c2c;
    border-radius: 10px;
    padding: 20px;
    width: 400px;
    max-width: 90%;
  }
  
  .searchInput {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 25px; /* Делает углы поля ввода круглыми */
    text-align: center;
  }
  
  
  .resultItem {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .resultItem img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .resultText {
    color: white;
  }
  
  .closeButton {
    background: none;
    border: none;
    color: white;
    margin-bottom: 20px;
    font-size: 24px;  
    cursor: pointer;
  }