/* SearchModal.module.css */

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center; /* Центрирование контента по горизонтали */
  align-items: center;
  z-index: 4;
}

.modalContent {
  background: #f5f5dc; /* Бежевый цвет фона */
  border-radius: 10px;
  padding: 20px;
  width: 90%; /* Изменим ширину на 90% */
  max-width: 400px; /* Максимальная ширина 400px */
  min-width: 280px; /* Минимальная ширина 280px */
  text-align: center; /* Выравнивание текста по центру */
}

.searchInput {
  width: calc(100% - 40px); /* Вычтем отступы слева и справа */
  border: none;
  border-radius: 25px;
  text-align: center;
  font-size: 16px;
  background-color: #fff; /* Цвет фона поля ввода */
  color: #333; /* Цвет текста поля ввода */
  margin-bottom: 20px; /* Добавим нижний отступ */
}

.searchInput::placeholder {
  color: #ccc; /* Цвет плейсхолдера */
}

.resultItem {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px; /* Скругленные углы для результатов поиска */
  transition: background-color 0.3s ease; /* Плавное изменение цвета фона */
}

.resultItem:hover {
  background-color: #ddd; /* Изменение цвета фона при наведении */
}

.resultItem img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.resultText {
  color: #333; /* Черный цвет текста */
}
