.catalogContainer {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.mainContent {
  display: flex;
  gap: 20px;
}

.filters {
  display: flex;
  flex-direction: column;
  width: 250px;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.filter {
  margin-bottom: 10px;
}

.filterSection {
  margin-bottom: 20px;
}

.inputField {
  margin-bottom: 10px;
  padding: 5px;
  width: calc(50% - 10px);
  border: 1px solid #ddd;
  border-radius: 8px;
  outline: none;
}

.inputFieldContainer {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.inputField p {
  margin: 0 0 5px 0;
  font-weight: bold;
}

.catalog {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  flex: 1;
}

.loading, .error {
  text-align: center;
  margin-top: 50px;
}

h3 {
  font-size: 24px;
  margin-bottom: 20px;
}
