.catalogContainer {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.mainContent {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.catalogTitle {
  display: inline-block;
}

.toggleFiltersBtn {
  background: none;
  border: none;
  padding: 5px;
  cursor: pointer;
  color: #007bff;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
}

.filtersContainer {
  position: relative;
  width: 100%;
}

.filtersOverlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.95);
  z-index: 1000;
}

.filtersOverlay.show {
  display: block;
}

.filters {
  display: flex;
  flex-direction: column;
  padding: 20px;
  overflow-y: auto;
}

.filter {
  margin-bottom: 10px;
}

.applyFiltersBtn {
  margin-top: auto;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}


.inputField {
  width: calc(50% - 10px);
  border: 1px solid #ddd;
  border-radius: 8px;
  outline: none;
}

.inputFieldContainer {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.inputField p {
  margin: 0 0 5px 0;
  font-weight: bold;
}

.mobileOnly {
  display: block;
}

.desktopOnly {
  display: none;
}

@media (min-width: 768px) {
  .mobileOnly {
    display: none;
  }
  .desktopOnly {
    display: block;
  }
  .filtersOverlay {
    display: block;
    position: static;
    background-color: transparent;
  }
  .filters {
    position: static;
    flex-direction: column;
    padding: 0;
    overflow-y: visible;
    width: auto;
  }
  .catalog {
    order: -1; /* Перемещаем каталог в начало */
    flex: 1; /* Занимает оставшееся пространство */
  }
  .filtersContainer {
    width: 300px; /* Ширина боковой панели с фильтрами на десктопе */
  }
}
