.container {
  display: flex;
  padding: 20px;
}

.stickyContainer {
  position: fixed;
  top: 20px;
  display: flex;
  margin-top: 80px;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 20px;
  flex-shrink: 0;
  transition: top 0.3s ease;
}

.image {
  width: 200px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 20px;
}

.button {
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 10px;
  border: none;
  background: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.bookmarkButton {
  background: #28a745;
}

.contentContainer {
  flex-grow: 1;
  margin-left: 260px; /* Adjust according to stickyContainer width */
}

.tabs {
  display: flex;
  margin-bottom: 20px;
}

.tabButton {
  padding: 10px 20px;
  border: none;
  background: #e9ecef;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.activeTabButton {
  background: #007bff;
  color: white;
}

.content {
  background: #f8f9fa;
  padding: 20px;
  border-radius: 10px;
}

.description,
.chapters,
.comments {
  font-size: 16px;
  line-height: 1.5;
}

.tags {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tag {
  background: #6c757d;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}

.chapters {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.chapter {
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.chapter:hover {
  background-color: #f5f5f5;
}

.chapterTitle {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 5px;
}

.chapterDate {
  font-size: 0.9em;
  color: #666;
}