/* Header */
.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f5f5dc; /* Бежевый цвет фона */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.imageLink {
  max-width: 100%;
  max-height: 100%;
}

.navLink {
  color: #333; /* Черный цвет текста */
  text-decoration: none;
  font-size: 16px;
  margin: 0 10px;
}

.navLink:hover {
  color: #ff7a00; /* Оранжевый цвет текста при наведении */
}

.extraControls {
  display: flex;
  align-items: center;
}

.searchButton,
.bookmarksButton,
.authenticationButton,
.themeToggle {
  background: none;
  border: none;
  color: #333; /* Черный цвет текста */
  font-size: 16px;
  cursor: pointer;
  margin: 0 10px;
}

.searchButton:hover,
.bookmarksButton:hover,
.authenticationButton:hover,
.themeToggle:hover {
  color: #ff7a00; /* Оранжевый цвет текста при наведении */
}

.profileContainer {
  position: relative;
}

.profileIcon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.profileMenu {
  position: absolute;
  top: 50px;
  right: 0;
  background: #f5f5dc; /* Цвет фона как у header */
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  z-index: 1000;
  width: 200px;
}

.profileHeader {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #f5f5dc; /* Цвет фона как у header */
  color: #333; /* Цвет текста как у header */
  border-bottom: 1px solid #ccc;
}

.profileMenuIcon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.profileMenuItem {
  padding: 10px 20px;
  background-color: #f5f5dc;  
  cursor: pointer;
  text-align: left;
  border-bottom: 1px solid #ccc;
  color: #333; /* Цвет текста как у header */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profileMenuItem:last-child {
  border-bottom: none;
}

.profileMenuItem:hover {
  background: #f0f0f0; /* Подсветка при наведении */
}

.profileMenuSubItem {
  padding: 10px 40px;
  cursor: pointer;
  text-align: left;
  background-color: #ececbd;
  color: #333; /* Цвет текста как у header */
  display: block;
  text-decoration: none
}

.profileMenuSubItem:hover {
  background: #f0f0f0; /* Подсветка при наведении */
}

.addContentIcon {
  margin-left: 10px;
}

.logoutText {
  flex-grow: 1;
}

.logoutIcon {
  font-size: 18px;
}

/* Мобильная навигация */
.mobileNav {
  display: none; /* По умолчанию скрываем для десктопа */
}

@media screen and (max-width: 767px) {
  
  .navigationLinks {
    display: none; /* Скрываем навигационные ссылки на мобильных устройствах */
  }

  .extraControls {
    display: flex;
    align-items: flex-start;
    margin-top: 10px; /* Добавим небольшой верхний отступ */
    z-index: 2;
  }

  .mobileNav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 10px;
    background-color: #f5f5dc; /* Бежевый цвет фона */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 2;
  }
}
