/* Carousel.module.css */
.carouselContainer {
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.carousel {
    display: inline-flex;
    gap: 10px; /* Отступ между карточками */
    align-items: flex-start; /* Выравнивание по верхнему краю */
    width: 100%; /* Занимаем всю доступную ширину */
}

.carousel > * {
    flex: 0 0 auto; /* Карточки не растягиваются */
}

.carousel::-webkit-scrollbar {
    display: none;
}

@media (max-width: 768px) {
    .carousel {
        gap: 10px; /* Уменьшаем отступ для меньших экранов */
    }
}

@media (max-width: 480px) {
    .carousel {
        gap: 5px; /* Уменьшаем отступ еще больше для самых маленьких экранов */
    }
}
